<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>PEMM - Instances</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">PEMM - Story Instances</h1>

        <table class="table is-striped is-hoverable">
          <thead>
            <tr>
              <th>Manuscript</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% assign instances_by_ms = site.data.data.story_instance | group_by:"Manuscript" %}

          {% for Manuscript in instances_by_ms %}
            <tr>
              <td>{{ Manuscript.name }}</td>
              <td>
                <ul>
                {% for instance in Manuscript.items %}
                  <li>{{ instance.['Canonical Story ID'] }} ({{ instance.['Folio Start'] }}-{{ instance.['Folio End'] }})</li>
                {% endfor %}
                </ul>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>