<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>PEMM - Instances</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">PEMM - Story Instances by Story</h1>

        <table class="table is-fullwidth">
          <tbody>
          {% assign instances_by_story = site.data.data.story_instance | sort: "Canonical Story ID" | group_by:"Canonical Story ID" %}

          {% for story in instances_by_story %}
            <tr>
              <td>
                <h1 class="title is-5">{{ story.name }}. {{ story.items.[1].['Canonical Story Title'] }}</h1>
                <table class="table is-striped is-narrow is-hoverable">
                  <thead>
                   
                  </thead>
                  <tbody>
                  {% for instance in story.items %}
                    <tr>
                      <td>{{ instance.['Manuscript'] }}</td>
                      <td>F. {{ instance.['Folio Start'] }}-{{ instance.['Folio End'] }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>