<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>PEMM - Manuscripts</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">PEMM - Manuscripts</h1>

        <table class="table is-striped is-hoverable">
          <thead>
            <tr>
              <th>Shelfmark</th>
              <th>Date</th>
              <th>BetMas</th>
            </tr>
          </thead>
          <tbody>
          {% for manuscript in site.data.data.manuscript %}
            <tr>
              <td>{{ manuscript.['Manuscript Name'] }}</td>
              <td>{{ manuscript.['Century'] }} c. ({{ manuscript.['Date Range Start'] }} - {{ manuscript.['Date Range End'] }})</td>
              <td><a href="http://betamasaheft.eu/{{ manuscript.['Hamburg MS ID'] }}">{{ manuscript.['Hamburg MS ID'] }}</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

      </div>
    </section>

    {% include footer.html %}
  </body>
</html>